/*
some defualt styling such as, scrollbar, body tag, font family and resettig few elements
sections such
header, main, footer
*/

/*importing google fonts*/
/*@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap'); font-family: 'Sulphur Point', sans-serif;*/
/*@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap'); font-family: 'Bad Script', cursive;*/

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700'); /* font-family:'Oswald', sans-serif; */

/*ressuable values to be use*/

:root{
    --col-white:#fff;
    --col-silver:#bfbfbf;

    --col-black:#000;

    --col-dim-gray:#606060;
    --col-hit-grey:#A9AAAA;
    --colo-Gainsboro:#e8e8e8;
    --col-dark-grey:#b2aead;
    --col-iron:#c4c7c8;

    --col-bay-of-many:#354e6c;

    --margin-top:6em 0 0 0; 
  }

/*----------------------------------------------*/
/* BODY */
/*----------------------------------------------*/
body{
    color: #000;
    font-family:'Source Sans Pro', sans-serif;
    word-spacing: .2em;

    background-color: var(--colo-Gainsboro);

}
/*total width of scroll bar*/
::-webkit-scrollbar{ width: 8px; }

/* color of track */
::-webkit-scrollbar-track{ background-color: var(--col-hit-grey); }
  
/* scrollbar */
::-webkit-scrollbar-thumb{ background-color: var(--col-bay-of-many); }

/* scrollbar hover*/
::-webkit-scrollbar-thumb:hover{ background-color: var(--col-lemon-grass); }

/*----------------------------------------------*/
/* RESET OVERWRITTING */
/*----------------------------------------------*/
h1,h2,h3,h4,h5,h6{font-weight: normal;}

a{text-decoration: none;}


/*----------------------------------------------*/
/* HEADER*/
/*----------------------------------------------*/
.header{/*height: 100vh;*/ position: relative;}

.header__banner-img{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 28em;
  height: 25em;
}
.book_now-btn-mb { 
  display: none;
  position: absolute; 
  content: ""; top:50%; 
  margin: 1em;
}

.book_now-btn-mb:hover {  
  border: .1em solid var(--col-white) !important;
  background-color: transparent !important;
  color: var(--col-white) !important;
}

.website_fullform{ 
  display: none; margin: 0;
  font-size: 4em; 
  color: var(--col-white); 
  padding: .2em !important;
}

.section-left
{
  background-color: var(--col-dark-grey);
  margin: 0 !important;
  padding: 3em 3em 1em 3em;
  width: 100%;
  height: 40em;
 /* height: 100vh;*/
  }

.section-left__website-logo{ max-width: 3em;  margin: auto 2em 3em 2em; }

.navigation{  border-left: .4em solid var(--col-bay-of-many); }

.nav-menu li { margin: 1em; }

.nav-menu a{ color: var(--col-bay-of-many); }

.head__social-icon{ width: 1.5em; margin: .5em auto; transition: all 1s; -webkit-transition: all 1s; -moz-transition: all 1s; -ms-transition: all 1s; -o-transition: all 1s; }

.head__social-icon:hover{ width: 3em; }

.section-right{ background-color: var(--col-iron);  margin: 0 !important; padding: 3em 3em 2em 3em; width: 100%;  height: 40em;
 /* height: 100vh;*/ }
 
.login_signup{ justify-content:flex-end !important; align-items: center;  margin: 0;}

.login_signup li{flex-basis: calc(35% / 2) !important; margin: 0;}

.login_signup a{ color: var(--col-bay-of-many); }

.login_signup-btn{  text-transform: uppercase; padding: .6em 1.2em .6em 1.2em !important; }

.belong{
  position: absolute;
  content: "";
  top: 40%;
  left: 64%;
  transform: translate(-50%, -50%);

  color:var(--col-iron);
  text-shadow: 1px -2px 6px rgba(49, 58, 102, 0.75); /*6px 6px 6px rgba(0,0,0,0.75);*/
  font-size: 5em;
  
}
.anywhere{
position: absolute;
content: "";
top: 53%;
left: 70%;
transform: translate(-50%, -50%);

color:var(--col-iron);
text-shadow: 1px -2px 6px rgba(49, 58, 102, 0.75); /*6px 6px 6px rgba(0,0,0,0.75);*/
font-size: 5em;
}

.book_now-btn{ position: absolute; content: ""; left: 68%; top:72%; }

/*----------------------------------------------*/
/* FOOTER*/
/*----------------------------------------------*/
.main{ 
  padding:1.5em;
  background-color: var(--col-white); 
  /*box-shadow: 7px 7px 35px 4px rgba(132, 131, 131, 0.45);
  -moz-box-shadow: 7px 7px 35px 4px rgba(132, 131, 131, 0.45);
  -webkit-box-shadow: 7px 7px 35px 4px rgba(132, 131, 131, 0.45);*/
}
.search__form{ justify-content: end !important; margin: 0 !important; }

.search__input{ flex-basis: 94%; }

.location__button{ flex-basis: 3%; }

.search__button{ flex-basis: 3%; }

.search__form input[type=text] {
  border: .1em solid var(--col-bay-of-many);
  padding: 1em;
  float: left;
  width: 100%;
}

.search__form button { padding: 1em; border: .1em solid var(--col-bay-of-many); border-left: none; }

/*----------------------------------------------*/
/* FOOTER*/
/*----------------------------------------------*/
.footer{
  margin: var(--margin-top) ;
  border-top: 1px solid rgb(189, 189, 189);
  box-sizing: border-box;
  color:var(--col-dim-gray);
}
.footer a{ color:var(--col-dim-gray); }

.footer a:hover{ font-weight: bolder; color:var(--col-bay-of-many); }

.footer__nav{ padding: 1em; }

.copyright_social-media{ padding: 1em;  border-top: 1px solid rgb(189, 189, 189); align-items: center;}

.copyright_social-media .col-2-large{margin: 0 !important; }

.copyright_social-media .col-2-x-small{margin: 0 !important; }

.copyright_social-media .col-3{margin: 0 !important; }

.footer__website-logo{ max-width: 2em; }

.footer__social-icon{ max-width: 1em; }