.page-wrapper{
    max-width: 75em;
    margin: 0 auto;
}
/*----------------------------------------------*/
/* FORM*/
/*----------------------------------------------*/
.main{ 
    position: relative;
    margin-top: -2em;
    padding:1.5em;
    background-color: var(--col-white); 
    box-shadow: 7px 7px 35px 4px rgba(132, 131, 131, 0.45);
    -moz-box-shadow: 7px 7px 35px 4px rgba(132, 131, 131, 0.45);
    -webkit-box-shadow: 7px 7px 35px 4px rgba(132, 131, 131, 0.45);
  }

  .form{ text-align: center; }
  .form-control input{ padding: 1em 2em 1em 2em; border:.1em solid #354e6cc0;}
  .form__search-btn{padding:1em 3em 1em 3em !important ;}
/*----------------------------------------------*/
/* PLACES */
/*----------------------------------------------*/
.places{ margin: var(--margin-top) ;}
.places__video {
    max-width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}
.explore{
    text-align: center;
}
.explore-button{
    padding: 1em 2em 1em 2em !important;
}

/*----------------------------------------------*/
/* Weekend */
/*----------------------------------------------*/
.weekend{ margin: var(--margin-top) ;}
.weekend__box{
    background-color: var(--col-white);
    -webkit-box-shadow: 10px 10px 5px -9px rgba(191,191,191,1);
    -moz-box-shadow: 10px 10px 5px -9px rgba(191,191,191,1);
    box-shadow: 10px 10px 5px -9px rgba(191,191,191,1);
    padding-bottom: 1em;
    box-sizing: border-box;
    }
.weekend__img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.rating_star{
    max-width: 1.5em;
}

/*----------------------------------------------*/
/* adventure */
/*----------------------------------------------*/
.adventure{ margin: var(--margin-top) ;}
.adventure__video{
 max-width: 100%;
 clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}