/* media queries to make the website responsive*/


/*iphone 6/7/8 plus */
@media only screen and (max-width:  500px){

    .header{
        position: relative;
        height: 100vh !important; 
        background-image: linear-gradient(90deg, rgba(191,191,191,0.5357493339132529) 0%, rgba(53,78,108,0.5329482134650736) 0%),url(/images/living_room.jpg); 
        background-repeat: no-repeat;
        background-size: cover;
    }
    .book_now-btn-mb { display: block !important; }
    .website_fullform{ display: block !important; }

    .header .section-left, .header .section-right, .header__banner-img{display: none;}
    
    .page-wrapper-75em{ max-width: 90% !important; }

    .places .row, .weekend .row, .footer .row{ display: block; }

    .adventure{ display: block !important;}

    .footer__nav{ display: none !important;}

    .copyright_social-media{ text-align: center;}

    .col-2-large span{ display: block;}
    
    .col-2-x-small .row{ display: flex !important;}


}