/*----------------------------------------------*/
/* COMMON CLASSES 
This file contains all the resuable classes for all over the website.
*/
/*----------------------------------------------*/

.hidden{ display: none; margin: -10000px; }

.page-wrapper-75em{ max-width: 75em; margin: 0 auto; }

.page-wrapper-60em{ max-width: 60em; margin: 0 auto;}

.page-wrapper-40em{ max-width: 40em; margin: 0 auto;}



/***** flex coloumns *****/
/*column self-note -> change  class name row to col and visa versa for col class*/
.row{ display: flex; justify-content: space-between;}

.col-2{ flex-basis: calc(96% / 2);  margin: 2em 0 2em 0; }
.col-2-x-small{ flex-basis: 10%;  margin: 2em 0 2em 0; }
.col-2-large { flex-basis: 90%;  margin: 2em 0 2em 0;}

.col-3{ flex-basis: calc(95% / 3); margin: 2em 0 2em 0; }

.col-3-large{ flex-basis: 30%;  margin: 2em 0 2em 0; }

.col-4{ flex-basis: calc(94% / 4);  margin: 2em 0 2em 0; }

.col-5{ flex-basis: calc(99% / 5);  margin: 2em 0 2em 0; }

/*rows*/
.col{ display: flex; flex-direction: column; justify-content:space-between; height:65%;}


/***** typography *****/
a:hover{font-weight: bolder;}

.text-center{text-align: center; }

.text-uppercase{ text-transform: uppercase; }

.font-size-small{ font-size: .7em; }

.font-size-mid{ font-size: 1em; }

.font-size-lg{ font-size: 2em;}

.font-size-xlg{ font-size: 4em;}

.font-weight-bold{ font-weight: bold;}

.letter-spacing{ letter-spacing: 1em; } 

.word_spacing { word-spacing: 2em;}

/***** color *****/
.color-white{ color:var(--col-white); }

.color-bay-of-many{ color:#354e6c !important; }

.color-dim-gray{ color:#606060; }


/***** border *****/
.border-bottom{ border-bottom: .1em solid var(--col-dim-gray); margin: .2em 0 .2em 0; }

.border-top{ border-top: .1em solid rgb(238, 235, 235); }

/***** buttons *****/

.btn-border{
  border: .1em solid var(--col-bay-of-many);
  background-color: transparent;
  color: var(--col-bay-of-many);

  padding: .5em 2em .5em 2em;
  
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.btn-border:hover{
    cursor: pointer;
    background-color: var(--col-bay-of-many);
    color:var(--col-white);
}

.btn-color{
  border: none;
  background-color:var(--col-bay-of-many);
  color:var(--col-white);
  
  padding: 1em 2em 1em 2em;

  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.btn-color:hover{
  cursor: pointer;
  border: .1em solid var(--col-bay-of-many);
  background-color: transparent;
  color: var(--col-bay-of-many);

}
/***** margin *****/
.margin-0{ margin:0 }
.margin-top-small{ margin:2em 0 .6em 0;}